.display{
    display: block;
}
.card2{
margin-top:50px;
}
.card3{
    margin-top: 50px;
}
.container{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: rgb(184, 134, 72);
    padding: 20pxs;
}
select{
    width:300px ;
    height: 35px;
}
input{
    width:300px ;
    height: 25px;
}